body
{
    background-color: rgb(80, 126, 179);
    background: url(images/fon.jpg);
    background-size: cover;
}

.links-section {
    order: 1;
}
    
.table-section {
    order: 2;
}
    
@media (max-width: 1080px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    main {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    .table-section {
        order: 1; /* Изменяем порядок для десктопов */
        width: 100%;
    }

    .links-section {
        order: 2;
        width: 100%;
    }
    
}
.spisok {
    display: flex;
    justify-content: center;
    height: 100hv;
    background-color: #7aa5e9;
    border-radius: 30px;
}

.forma{
    text-align: center;
    background-color: #7aa5e9;
    border-radius: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #567bb6;
    padding: 10px;
    border-radius: 50px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
span {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    overflow: hidden;
}
th, td {
    border: 1px solid #860e0e;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #d1a1a1;
}

footer {
    background-color: #456291;
    padding: 20px;
    font-style: italic;
    width: 100%;
}
footer p {
    margin: 0;
}
